/*information*/
.men {
  
  width: 40%;
}

@media (max-width: 1000px) {
 
  .men {
      display: none;
  }
}




/*Company*/


.box {
display: flex;
justify-content: center;
}


.about-container {
  display: flex;
  justify-content: center;
  background-image:url(../assets/fundoAzul.png) ;
}

/* Estilo para o texto */
.about-text-container {
  text-align: justify;
}

/* Estilo para a imagem */
.about-image {
  max-width: 100%;
  height: auto;
  padding-left: 20%;
 
}

.about-text {
  padding-top: 100px;
  text-align: 'center'; 
  max-width: '100%';
}

@media (max-width: 600px) {
  .about-text {
    padding-top: 10px;
    
  }
}

/* Estilo para o título */
.about-text-container h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: bold;
  text-decoration: underline;
}


/* Estilo para o corpo do texto */
.about-text-container p {
  font-size: 16px;
  line-height: 1.5;
  color: aliceblue;
}


 /*ProductsDetail*/

 .product-details {
  display: flex;
  align-items: center;
}

.product-info {
  flex: 1;
  
  
}

.product-image {
  margin-right: 20px;
  
}
.product-image img {
  width: 500px;
  height: 350px;
}

/*header*/
/* Estilo personalizado para o contêiner do carrossel */
.carousel-container {
  max-height: calc(100vh - 420px); /* Ajuste conforme necessário */
  overflow: hidden;
}

/* Estilo personalizado para o carrossel dentro do contêiner */
.carousel {
  max-height: 100%;
  width: 100%;
}


.textHome{
  color: #fff;
  font-weight: 700!important;

}
@media (max-width: 1030px) {
 
  .textHome {
      color: black;
      padding-top: 100!important;
  }
}


.subTextHome{
  line-height:1.6 ;
  color: #fff;
 
}

@media (max-width: 1000px) {
 
  .subTextHome {
      color: black;
  }
}

@media (max-width: 1000px) {
 
  .azulHome {
    
      display:none;
      
  }
}

