/*information*/
.men {
  
  width: 40%;
}

@media (max-width: 1000px) {
 
  .men {
      display: none;
  }
}




/*Company*/


.box {
display: flex;
justify-content: center;
}


.about-container {
  display: flex;
  justify-content: center;
  background-image:url(../assets/fundoAzul.png) ;
}

/* Estilo para o texto */
.about-text-container {
  padding: 100px;
  text-align: justify;
}

/* Estilo para a imagem */
.about-image {
  max-width: 100%;
  height: auto;
  padding-left: 20%;
 
}

/* Estilo para o título */
.about-text-container h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: bold;
  text-decoration: underline;
}

/* Estilo para o corpo do texto */
.about-text-container p {
  font-size: 16px;
  line-height: 1.5;
  color: aliceblue;
}

 /*ProductsDetail*/

 .product-details {
  display: flex;
  align-items: center;
}

.product-info {
  flex: 1;
  
  
}

.product-image {
  margin-right: 20px;
  
}
.product-image img {
  width: 500px;
  height: 350px;
}